<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bootstrap уроки</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<br>
<div class="container">
<p class="text-muted text-center">Что-то грустно.</p>
<p class="text-primary">Тут можно что-то важное</p>
<p class="text-success">Все удалось!</p>
<p class="text-info">Здесь вы найдете полезную информацию</p>
<p class="text-warning">Лучше прочитать этот текст</p>
<p class="text-danger">Мы знаем где ты живешь!</p>
</div>
<br>

<div class="container">
<p class="bg-primary">Тут можно что-то важное</p>
<p class="bg-success">Все удалось!</p>
<p class="bg-info">Здесь вы найдете полезную информацию</p>
<p class="bg-warning">Лучше прочитать этот текст</p>
<p class="bg-danger">Мы знаем где ты живешь!</p>
</div>

<h1>ITProger <small>Small text</small></h1>
<h3>ITProger</h3>
<h5>ITProger</h5>
<p>Test, test <mark>test example</mark></p>
<p class="text-left">Равнение по левому краю</p>
<p class="text-center">Текст по центру</p>
<p class="text-right">Равнение по правому краю</p>
<p class="text-justify">Равнение по обоим краям</p>
<p class="text-nowrap">Текст без переносов</p>

<blockquote class="blockquote-reverse">
  Некая очень умная цитата!
  <footer>Jobs</footer>
</blockquote>

<p class="text-uppercase">uppercase</p>
<p class="text-lowercase">LOWERCASE</p>
<p class="text-capitalize">and letters on end</p>

<code>for</code>, <code>while</code>, <code>do while</code>
<br><br>
<div class="container">
<pre>
  for (int i = 0; i < 10; i++)
    print("Hi!");
</pre>
</div>
</body>
</html>